<html lang="en" data-bs-theme-base="stone" data-bs-theme-primary="cyan" data-bs-theme-radius="0.5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Müzayede Yönetim Paneli</title>
    <link href="/dist/css/tabler.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="/dist/css/tabler-themes.min.css" rel="stylesheet">
</head>
<body>
    @RenderBody()

    <script src="/dist/js/tabler.min.js" defer=""></script>
</body>
</html>